//控制底部导航tabbar控件字体、图标大小
.van-tabbar-item .van-tabbar-item__icon {
  font-size: 25px;
}

.van-tabbar-item__text {
  font-size: 10px;
}
.van-tabbar-item .van-tabbar-item__icon {
  margin-bottom: 1px;
  margin-top: 2px;
}
